@import url('/css/base/fonts.css');
@import url('/css/base/variable.css');
@import url('/css/components/inputs.css');
@import url('/css/components/buttons.css');
@import url('/css/components/forms.css');
@import url('/css/base/typography.css');

body{
    background-color: var(--color-background-alt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

h1,p{
    margin: 0;
    text-align: center;
    justify-content: flex-start;
}

#login{
    display: flex;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-xl);
    overflow: hidden;
    width: 85%;
    max-width: 900px;
    max-height: 500px;
    height: auto;
    margin: 0 auto;
}

.container{
    margin-top: var(--spacing-xxl);
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-label{
    margin-bottom: var(--layout-spacing-xxs);
}

#password-container{
    position:relative
}

#psw-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#psw-label a{
    font-size: var(--font-size-xs);
    color: #122133;
    text-decoration: none;
    font-weight: 400;
}

#psw-label a:hover{
    text-decoration: underline;
}

#image{
    flex: 1;
}

#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#password-container input {
    padding-right: var(--spacing-lg);
    box-sizing: border-box;
}

#eye {
    position: absolute;
    right: var(--spacing-xs);
    top: 73%;
    transform: translateY(-50%);
    width: var(--spacing-md);
    height: var(--spacing-md);
    cursor: pointer;
}

#remember-container > div{
    display: flex;
}

#remember-container{
    display: flex;
    flex-direction: row;
    gap: var(--layout-spacing-xxs);
}

#remember-container label{
    cursor: pointer;
}

#footer{
    margin-top: var(--layout-spacing-sm);
}

.fixed-eye{
    top: 54%!important;
}