/** STILI PER I FORM **/
form {
    margin-top: var(--layout-spacing-xl); /* Aggiunge spazio sopra il form */
    display: flex; /* Imposta il form come contenitore flessibile */
    flex-direction: column; /* Disponi gli elementi interni in colonna */
    align-items: center; /* Centra gli elementi orizzontalmente */
    justify-content: center; /* Centra gli elementi verticalmente */
    box-sizing: border-box; /* Assicura che il form occupi tutta l'altezza del suo contenitore */
    width: 100%; /* Assicura che il form occupi tutta la larghezza del suo contenitore */
    gap: var(--spacing-xs); /* Aggiunge spazio tra gli elementi del form */
}

label{
    line-height: 1;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
    margin-bottom: 0.var(--layout-spacing-xxs); /* Spazio tra label e input */
}

.input-container {
    margin-bottom: var(--spacing-sm); /* Aggiunge un po' di spazio tra i gruppi di input */
    width: 80%; /* Imposta una larghezza massima per gli input */
    display: flex; /* Permette di allineare label e input nella stessa riga */
    flex-direction: column; /* Impila label e input verticalmente all'interno di ogni container */
}