/** STILI PER I FORM **/
form {
    margin-top: var(--layout-spacing-xl); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
    width: 100%; 
    gap: var(--spacing-xs); 
}

label{
    line-height: 1;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
    margin-bottom: 0.var(--layout-spacing-xxs); 
}

.input-container {
    margin-bottom: var(--spacing-sm); 
    width: 80%; 
    display: flex;
    flex-direction: column; 
}