/*STILE PER GLI INPUTS*/
/* Input di testo */
input{
    box-sizing: border-box;
    width: 100%;
    max-height: var(--spacing-xl);
    padding: var(--spacing-sm);
    outline: none;
}

.input-container input {
    box-sizing: border-box;
    width: 100%;
    max-height: var(--spacing-xl);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: 1.5px solid lightgrey;
    outline: none;
    box-shadow: var(--box-shadow);
}

.input-container input:hover,.input-container input:hover{
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border: 1px solid rgb(147, 147, 147);
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    accent-color: var(--color-primary);
}