/*STILE PER GLI INPUTS*/
/* Input di testo */
input{
    box-sizing: border-box;
    width: 100%;
    max-height: var(--spacing-xl);
    padding: var(--spacing-sm);
    outline: none;
}

.input-container input{
    box-sizing: border-box;
    width: 100%;
    max-height: var(--spacing-xl);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: 1.5px solid lightgrey;
    outline: none;
    box-shadow: var(--box-shadow);
}

.input-container input:hover,.input-container input:hover{
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    border: 1px solid rgb(147, 147, 147);
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    accent-color: var(--color-primary);
}

input[type="file"], input[type="file"]::selection,input[type="file"]:hover {
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.input-couple{
    display: flex;
    align-items: center;
    gap: 5px;
}

#edit-vehicle-mileage{
  min-width: 105px;
}

#edit-vehicle-seats{
  max-width: 65px;
}

.input-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 180px;
    overflow-y: auto;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    margin-top: 2px;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}
.dropdown-item.active,
.dropdown-item:hover {
    background: #007bff;
    color: #fff;
}
.dropdown-item.disabled {
    color: #bbb;
    cursor: not-allowed;
    background: #f8f9fa;
}