.sidebar {
    position: fixed; 
    top: 0;         
    left: 0;         
    width: 250px;
    height: 100vh;  
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: auto; 
    z-index: 1000; 
    box-sizing: border-box; 
    transition: width 0.3s ease;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
    margin-bottom: 30px;
}

.sidebar .logo,.sidebar .main-nav, .sidebar .user-profile{
    border-radius: 24px;
    padding: var(--spacing-md);
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.sidebar .logo img {
    margin-right: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    width: 48px;
    height: 48px;
}

.nav-button {
    display: flex;
    align-items: center;
    margin: var(--spacing-lg) 0;
}

.quick-create-btn {
    display: flex;
    flex:1;
    padding: var(--spacing-xs);
}

.quick-create-btn svg{
    margin-right: var(--spacing-xs);
    width: var(--spacing-md);
    height: var(--spacing-md);
    color: var(--color-white); 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: var(--spacing-xs);

}

.sidebar ul li a {
    text-decoration: none;
    color: var(--color-sidebar-a); 
    display: flex;
    align-items: center;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    font-size: 0.875em;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li.active a {
    background-color: var(--color-sidebar-a-selected);
    color: var(--color-primary); 
    font-weight: var(--font-weight-medium);
    text-shadow: var(--shadow-sm); 
    box-shadow: var(--shadow-sm); 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    border-radius: 0.5rem; 
    border: 1px solid #d0def2; 
}

.sidebar ul li a .nav-icon {
    margin-right: var(--spacing-xs);
    color: var(--color-text-muted); 
}

.sidebar ul li.active a .nav-icon {
    color: var(--color-primary); 
}

.nav-icon {
    width: var(--spacing-md);
    height: var(--spacing-md);
}

.sidebar hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: var(--spacing-md) 0;
}

.sidebar .nav-title {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    margin-bottom: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
}

.sidebar .user-profile {
    display: flex;
    align-items: center;
    padding: var(--spacing-sm);
    margin-top: auto; 
    border-top: 1px solid #eee;
    gap: var(--spacing-xs);
}

.sidebar .user-profile .user-avatar-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0; 
}

.sidebar .user-info {
    flex-grow: 1;
    overflow: hidden; 
    white-space: nowrap; 
}

.sidebar .user-profile .user-info .username {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.sidebar .user-profile .user-info .user-email {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar .user-profile .nav-icon { 
    width: var(--spacing-md);
    height: var(--spacing-md);
    margin-left: auto; 
    color: var(--color-text-muted);
    cursor: pointer;
    transition: opacity 0.3s ease; 
    flex-shrink: 0; 
}

.sidebar .user-profile .nav-icon:hover {
    opacity: 0.7; 
}

.sidebar.collapsed {
    width: 130px; 
    transition: width 0.3s ease;
}

/* Logo */
.sidebar.collapsed .logo img {
    margin-right: 0; 
    transition: margin 0.3s ease;
}

.sidebar.collapsed .logo span {
    display: none; 
}


.sidebar.collapsed .nav-text {
    display: none;
}


.sidebar.collapsed ul li a .nav-icon {
    margin-right: 0; 
    width: 100%; 
    transition: all 0.3s ease; 
}

.sidebar.collapsed ul li.active a .nav-icon {
    margin: 0; 
    transition: margin 0.3s ease;
}


.sidebar.collapsed ul li a {
    padding: var(--spacing-xs); 
    transition: padding 0.3s ease; 
}


.sidebar.collapsed ul li a:hover,
.sidebar.collapsed ul li.active a {
    padding-left: var(--spacing-xs); 
    padding-right: var(--spacing-xs);
    transition: padding 0.3s ease;
}


.sidebar.collapsed .user-profile .user-info {
    display: none; 
    transition: all 0.3s ease;
}

.sidebar.collapsed .user-profile .nav-icon {
    margin-left: 0;
    transition: margin 0.3s ease;
}


@media (max-width: 1024px) {
    .sidebar {
        width: 130px; 
        transition: width 0.3s ease;
    }

    .sidebar .logo img {
        margin-right: 0;
        transition: margin 0.3s ease;
    }

    .sidebar .logo span {
        display: none; 
    }


    .sidebar .nav-text {
        display: none; 
    }


    .sidebar ul li a .nav-icon {
        margin-right: 0;
        width: 100%;
        transition: all 0.3s ease;
    }

    .sidebar ul li.active a .nav-icon {
        margin: 0;
        transition: margin 0.3s ease;
    }


    .sidebar ul li a {
        padding: var(--spacing-xs);
        transition: padding 0.3s ease;
        justify-content: center; 
    }

    
    .sidebar ul li a:hover,
    .sidebar ul li.active a {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
        transition: padding 0.3s ease;
    }

    
    .sidebar .user-profile .user-info {
        display: none;
        transition: all 0.3s ease;
    }

    .sidebar .user-profile .nav-icon {
        margin-left: 0;
        transition: margin 0.3s ease;
    }

    
    #toggle-sidebar-btn {
        display: none;
    }
}
