/**STILI PER LA TIPOGRAFIA**/
body, input, textarea, button, select {
  font-family: var(--font-family-primary);
}

h1{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(113, 113, 122);
    font-weight: 400;
}

a{
    color: var(--color-primary);
}

a:visited{
    color: var(--color-primary);
}